@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sfmono: var(--font-sfmono);
  --font-family-mono: var(--font-sfmono), monospace;
}

body {
  font-family: var(--font-family-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #090e13;
    --foreground: #f0f0f0;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
